<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>TrainMap - Track your Journeys</title>
    <!-- Leaflet CSS -->
    <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
            integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
            crossorigin=""
    />
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .form label {
            display: block;
            margin-bottom: 10px;
        }

        .form select {
            width: 220px;
            padding: 5px;
        }
    </style>
    <style>
        .vs__selected{
            max-width: 134px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
</head>
<body style="display:inline-block">
<div id="app" style="display:inline-block">
    <journey-editor></journey-editor>
    <map-form></map-form>
</div>

<!-- Vue via CDN (Vue 2) -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- Leaflet JS -->
<script
        src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""
></script>

<!-- Include Vue Select CSS -->
<link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
<!-- Include Vue Select JS -->
<script src="https://unpkg.com/vue-select@latest"></script>


<script>
    Vue.component('v-select', VueSelect.VueSelect);
    Vue.component('station-selector', {
        template: `
          <label style="display: inline-block; width: 200px;">
            <slot></slot>
            <span v-if="!$slots">:</span>
            <v-select
                v-model="entry"
                :options="entries"
                label="name"
                :filterable="true"
                @search="onSearchInput"
                @input="onItemSelected"
                placeholder="Type to search"
            ></v-select>
          </label>

        `,
        data() {
            return {
                entry: '',
                entries: []
            }
        },
        methods: {
            onSearchInput(searchTerm) {
                // console.log(searchTerm);
                if (searchTerm.length >= 1) {
                    this.loadStations(searchTerm)
                }
            },
            onItemSelected(event) {
                this.$emit("station-selected", {
                    entry: this.entry
                })
            },
            loadStations(input) {
                fetch("https://trainmap.flubb.de/location.php?name=" + input)
                    .then(response => response.json())
                    .then(locations => {
                        locations.forEach(l => {
                            if (!this.entries.find(s => s.id === l.id)) {
                                this.entries.push(l);
                            }
                        })
                    })
                    .catch(error => {
                        console.error('Error loading stations:', error);
                    });
            }
        }
    })
    Vue.component('journey-editor', {
        template: `
          <div id="journey-editor">
            <journey-section @journey-section-added="addJourneySection"></journey-section>
            <journey-section @journey-section-added="addJourneySection" v-for="journey in journeys"
                             header='false' :journey="journey"></journey-section>
          </div>
        `,
        data() {
            return {
                journeys: []
            }
        },
        methods: {
            addJourneySection(journeySection) {
                this.journeys.push(journeySection);
                console.log(this.journeys);
                this.$root.$emit("journeys-updated", this.journeys);
            }
        }
    })
    Vue.component('journey-section', {
        props: [ 'header', 'journey' ],
        template: `
          <div id="journey-plan"
               style="background-color:#fff; padding: 10px; margin-left: 50px; width: 405px; z-index:5;">
            <div class="journey-form">
              <station-selector @station-selected="setFrom"><span v-if="header !== 'false'">Departure</span></station-selector>
              <station-selector @station-selected="setTo"><span v-if="header !== 'false'">Arrival</span></station-selector>
            </div>
          </div>`,
        data() {
            return {
                from: {},
                to: {}
            };
        },
        methods: {
            setFrom(msg) {
                this.from = msg.entry;
                if (this.from.id > 0 && this.to.id > 0) {
                    this.addRoute();
                }
            },
            setTo(msg) {
                this.to = msg.entry;
                if (this.from.id > 0 && this.to.id > 0) {
                    this.addRoute();
                }
            },
            addRoute() {
                this.$emit('journey-section-added', {
                    travelSection: {
                        from: this.from,
                        to: this.to
                    }
                })
            }
        },
        mounted() {
            console.log("MOUNTED!!", this.journey)
            if(this.journey){
                console.log("OVERWRITE")
                // this.from = this.journey.travelSection.from;
                // this.to = this.journey.travelSection.to;
            }
        }
    })
    Vue.component("map-form", {
        template: `
          <div id="map" ref="map"
               style="height: 100vh; width: 100vw; top:0; position: absolute; left:0; z-index: -1;"></div>
        `,
        data() {
            return {
                map: null,
                lines: []
            };
        },
        methods: {
            visualizeRoute(from, to) {
                if (!from || !to) {
                    alert("Please select both stations");
                    return;
                }
                // Build URL using selected station ids (startBahnhof and zielBahnhof)
                const url = `https://trainmap.flubb.de/route.php?from_lon=${from.longitude}&from_lat=${from.latitude}&to_lon=${to.longitude}&to_lat=${to.latitude}&order=lat,lon`;
                fetch(url)
                    .then(response => response.json())
                    .then(coords => {
                        // Convert coordinates from [lon, lat] to [lat, lon]
                        // const coords = data.map(pair => [pair[1], pair[0]]);
                        // Create a polyline for the route (blue color)
                        let routePolyline = L.polyline(coords, {color: "blue"}).addTo(this.map);
                        this.map.fitBounds(routePolyline.getBounds());
                        this.lines.push(routePolyline);
                    })
                    .catch(error => console.error("API error:", error));
            },
            initMap() {
                // Initialize the map (centered roughly on France)
                this.map = L.map(this.$refs.map).setView([50.825952, 9.03693], 6);
                L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                    attribution: "&copy; OpenStreetMap contributors"
                }).addTo(this.map);
            }
        },
        mounted() {
            this.initMap();
            this.$root.$on('journey-section-added', (payload) => {
                console.log(payload);
                this.visualizeRoute(payload.travelSection.from, payload.travelSection.to);
            })

            this.$root.$on('journeys-updated', (journeys) => {
                console.log(journeys);
                let mappy = this.map;
                // this.map.eachLayer(function (layer) {
                //     console.log(layer);
                //     mappy.removeLayer(layer);
                // })
                this.lines.forEach(line => {
                    line.remove();
                })
                journeys.forEach(journey => {
                    this.visualizeRoute(journey.travelSection.from, journey.travelSection.to);
                })

            })
        }
    });

    new Vue({
        el: "#app"
    });
</script>
</body>
</html>
