<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>TrainMap - Track your Journeys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Leaflet CSS -->
    <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
            integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
            crossorigin=""
    />
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .form label {
            display: block;
            margin-bottom: 10px;
        }

        .form select {
            width: 220px;
            padding: 5px;
        }
    </style>
    <style>
        .vs__selected{
            max-width: 134px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
</head>
<body style="display:inline-block">
<div id="app" style="display:inline-block">
    <journey-editor></journey-editor>
    <map-form></map-form>
</div>

<!-- Vue via CDN (Vue 2) -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- Leaflet JS -->
<script
        src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""
></script>

<!-- Include Vue Select CSS -->
<link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
<!-- Include Vue Select JS -->
<script src="https://unpkg.com/vue-select@latest"></script>


<script>
    Vue.component('v-select', VueSelect.VueSelect);
    Vue.component('station-selector', {
        props: [ 'station', 'debug' ],
        template: `
          <label style="display: inline-block; width: 200px;" :class="debug">
            <slot></slot>
            <span v-if="!$slots">:</span>
            <v-select
                v-model="entry"
                :options="entries"
                label="name"
                :filterable="true"
                @search="onSearchInput"
                @input="onItemSelected"
                placeholder="Type to search"
            ></v-select>
          </label>

        `,
        data() {
            return {
                entry: '',
                entries: []
            }
        },
        methods: {
            onSearchInput(searchTerm) {
                // console.log(searchTerm);
                if (searchTerm.length >= 1) {
                    this.loadStations(searchTerm)
                }
            },
            onItemSelected(event) {
                this.$emit("station-selected", this.entry)
            },
            loadStations(input) {
                fetch("https://trainmap.flubb.de/location.php?name=" + input)
                    .then(response => response.json())
                    .then(locations => {
                        locations.forEach(l => {
                            if (!this.entries.find(s => s.id === l.id)) {
                                this.entries.push(l);
                            }
                        })
                    })
                    .catch(error => {
                        console.error('Error loading stations:', error);
                    });
            }
        },
        mounted() {
            console.log("station-selector mounted with props:", this.station)
            this.entry = this.station; //TODO watch if prop changes later on!!!
            console.log("station-selector-debug:", this.debug)
        },
        watch: {
            station: function(newVal, oldVal) {
                console.log("prop station changed:", this.debug, newVal, oldVal)
                this.entry = newVal;
            }
        }
    })
    Vue.component('journey-editor', {
        template: `
          <div id="journey-editor">
            <journey-section @journey-section-added="addJourneySection"
                             @journey-section-removed="removeJourneySection"
                             @journey-section-updated="updateJourneySection"
                             v-for="(journey, index) in journeys"
                             :key="journey.id"
                             :header="index === 0"
                             :journey="journey"
                             :debug="index"
                             :index="index"></journey-section>
            <journey-section @journey-section-added="addJourneySection"
                             @journey-section-removed="removeJourneySection"
                             @journey-section-updated="updateJourneySection"
                             :header="journeys.length === 0"
                             last_line="true"
                             debug="bottom"
                             :index="journeys.length"></journey-section>
          </div>
        `,
        data() {
            return {
                journeys: []
            }
        },
        methods: {
            addJourneySection(newJourney) {
                console.log("addJourneySection", newJourney)
                this.journeys.push(newJourney);

                //Re-emit so the map gets updated
                this.$root.$emit("journey-section-added", newJourney)

                this.$nextTick(() => {
                    console.log("journeys1", this.journeys)
                })
            },
            removeJourneySection(oldJourney) {
                console.log("removeJourneySection", oldJourney)
                this.journeys = this.journeys.filter(journey => { //TODO replace with more efficient way?
                    return journey.id != oldJourney.id;
                });

                //Re-emit so the map gets updated
                this.$root.$emit("journey-section-removed", oldJourney)

                this.$nextTick(() => {
                    console.log("journeys2", this.journeys)
                })
            },
            updateJourneySection(journeyChangeSet) {
                console.log("updateJourneySection", journeyChangeSet)

                this.journeys.forEach((journey, index) => {
                    if(journey.id == journeyChangeSet.old.id){
                        this.journeys[index] = journeyChangeSet.new
                    }
                })

                //Re-emit so the map gets updated
                this.$root.$emit("journey-section-updated", journeyChangeSet)

                this.$nextTick(() => {
                    console.log("journeys3", this.journeys)
                })
            }
        }
    })
    Vue.component('journey-section', {
        props: [ 'header', 'journey', 'last_line', 'debug', 'index' ],
        template: `
          <div id="journey-plan"
               style="background-color:#fff; padding: 10px; margin-left: 50px; width: 405px; z-index:5;">
            <div class="journey-form">
              <station-selector @station-selected="setFrom" :station="this.from" :debug="this.debug + 'li'"><span v-if="header !== false">Departure</span></station-selector>
              <station-selector @station-selected="setTo" :station="this.to" :debug="this.debug + 're'"><span v-if="header !== false">Arrival</span></station-selector>
            </div>
          </div>`,
        data() {
            return {
                from: null,
                to: null
            };
        },
        computed: {
            id: function(){
                return this.computeId(this.from, this.to, this.index);
            }
        },
        methods: {
            computeId(from, to, index){
                return from?.id + "-" + to?.id; //removed index
            },
            computeJourney(from=this.from, to=this.to, id=this.id, index=this.index){
                console.log("computeJourney", from, to, id, index)
                return {
                    from: this.clone(from),
                    to: this.clone(to),
                    id: this.computeId(from, to, index),
                    index: index,
                    debug: 'LineComputedJourney'
                }
            },
            routeModified(oldJourney, newJourney){
                console.log("routeModified", oldJourney, newJourney)
                //Check if old Journey had both from and to set,
                //otherwise Journey was not yet created so nothing to do

                if(oldJourney.from != null && oldJourney.to != null){
                    //oldJourney was already valid
                    if(newJourney.from == null || newJourney.to == null){
                        //either from or to was deleted, so delete Journey
                        console.log("going to delete journey", oldJourney)
                        this.$emit('journey-section-removed', oldJourney)
                    }
                    else{
                        //newJourney is also valid, so update Journey
                        console.log("going to update journey", oldJourney, newJourney)
                        this.$emit('journey-section-updated', {
                            old: oldJourney,
                            new: newJourney
                        });
                    }
                }
                else if(newJourney.from != null && newJourney.to != null){
                    //newJourney is valid, but oldJourney was not, so new Journey
                    console.log("going to create journey", newJourney)
                    this.$emit('journey-section-added', newJourney);
                    this.$nextTick(() => {
                        this.reset(); //New Journeys are always from the most-bottom row
                    })
                }
            },
            setFrom(newFrom) {
                let oldFrom = this.clone(this.from);
                this.from = newFrom;

                this.routeModified(this.computeJourney(oldFrom, this.to), this.computeJourney())
            },
            setTo(newTo) {
                let oldTo = this.clone(this.to);
                this.to = newTo;

                this.routeModified(this.computeJourney(this.from, oldTo), this.computeJourney())
            },
            setToOld(msg) {
                if(this.to != null){
                    this.removeRoute();
                }
                //Maybe insert nextTick to make sure removal is not affected?
                this.to = msg.entry;
                this.$nextTick(() => {
                    this.addRoute();
                })
            },
            addRoute() {
                if(this.from != null && this.to != null) {
                    this.$emit('journey-section-added', this.dynamicJourney);

                    if(this.last_line === "true") {
                        this.$nextTick(() => {
                            this.reset();
                        })
                    }
                    console.log("added-route", "header:", this.header, "journey:", this.journey, "last_line:", this.last_line)
                }
            },
            removeRoute(){
                this.$emit('journey-section-removed', this.dynamicJourney)
            },
            updateRoute(){
                this.removeRoute();
                this.addRoute();
            },
            reset(){
                console.log("reset", this.debug, "header:", this.header, "journey:", this.journey, "last_line:", this.last_line)
                // this.to = { id: -1, name: "", longitude: -1, latitude: -1};
                // this.from = { id: -1, name: "", longitude: -1, latitude: -1};

                this.to = null;
                this.from = null;
            },
            clone(obj){
                if(obj == null){
                    return null;
                }
                return {...obj}
            }
        },
        mounted() {
            console.log("journey-section mounted with props", this.journey)
            if(this.journey){
                this.from = this.journey.from;
                this.to = this.journey.to;
            }
            console.log("journey-section-debug:", this.debug)
        }
    })
    Vue.component("map-form", {
        template: `
          <div id="map" ref="map"
               style="height: 100vh; width: 100vw; top:0; position: absolute; left:0; z-index: -1;"></div>
        `,
        data() {
            return {
                map: null,
                lines: new Map()
            };
        },
        methods: {
            visualizeRoute(journey) {
                let from = journey.from;
                let to = journey.to;
                if (!from || !to) {
                    alert("Please select both stations");
                    return;
                }
                // Build URL using selected station ids (startBahnhof and zielBahnhof)
                const url = `https://trainmap.flubb.de/route.php?from_lon=${from.longitude}&from_lat=${from.latitude}&to_lon=${to.longitude}&to_lat=${to.latitude}&order=lat,lon`;
                fetch(url)
                    .then(response => response.json())
                    .then(coords => {
                        // Convert coordinates from [lon, lat] to [lat, lon]
                        // const coords = data.map(pair => [pair[1], pair[0]]);
                        // Create a polyline for the route (blue color)
                        let routePolyline = L.polyline(coords, {color: "blue"}).addTo(this.map);
                        this.map.fitBounds(routePolyline.getBounds());
                        console.log("add-line", journey.id, routePolyline)
                        this.lines.set(journey.id, routePolyline);
                    })
                    .catch(error => console.error("API error:", error));
            },
            eraseRoute(journey) {
                console.log("eraseRoute", journey);
                let line = this.lines.get(journey.id);
                line.remove();
                this.lines.delete(journey.id)
            },
            initMap() {
                // Initialize the map (centered roughly on France)
                this.map = L.map(this.$refs.map).setView([50.825952, 9.03693], 6);
                L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                    attribution: "&copy; OpenStreetMap contributors"
                }).addTo(this.map);
            }
        },
        mounted() {
            this.initMap();

            this.$root.$on('journey-section-added', (journey) => {
                console.log("journey-section-added", journey);
                this.visualizeRoute(journey);
            })

            this.$root.$on('journey-section-removed', (journey) => {
                console.log("journey-section-removed", journey);
                this.eraseRoute(journey)
            })

            this.$root.$on('journey-section-updated', (journeyOldNew) => {
                let oldJourney = journeyOldNew.old
                let newJourney = journeyOldNew.new
                console.log("journey-section-updated", oldJourney, newJourney);
                this.eraseRoute(oldJourney)
                this.visualizeRoute(newJourney)
            })

            this.$root.$on('journeys-updated', (journeys) => {
                console.log("journeys-updated", journeys);
                let mappy = this.map;
                // this.map.eachLayer(function (layer) {
                //     console.log(layer);
                //     mappy.removeLayer(layer);
                // })

                let removedJourneys = [];
                //remove lines if journey doesnt exist anymore
                this.lines.forEach((line, id) => {
                    if(!journeys.find(journey => {
                        return journey.id === id;
                    })){
                        console.log("No Journey for line with id:", id, journeys)
                        removedJourneys.push(id);
                        console.log("remove-line", line);
                        line.remove();
                    }
                })
                removedJourneys.forEach(id => this.lines.delete(id));
                //visualize journey, if line not yet created
                journeys.forEach(journey => {
                    if(this.lines.get(journey.id) === undefined) {
                        this.visualizeRoute(journey);
                    }
                })

            })
        }
    });

    new Vue({
        el: "#app"
    });
</script>
</body>
</html>
